<div class="row my-2" >
  <div class="col-md-6">
    <label>Direct Reportee :</label> 
    <select class="browser-default custom-select"  (change)= "directRepSelected($event)">
        <option value= "" selected>Select</option>  
        <option *ngFor= "let dirRep of allDirectReportee" [value] = "dirRep._id" >{{ dirRep.name }}</option>
        <option value="All">All</option>
    </select>
  </div>
  <div class="col-md-6">
    <label>L2 Reportee:</label> 
    <select class="browser-default custom-select"  (change)= "directChildSelected($event)">
        <option value= "" selected>Select</option>  
        <option *ngFor= "let childRep of allChildReportee" [value] = "childRep._id" >{{ childRep.name }}</option>
        <option  value="All">All</option>
    </select>
  </div>
</div>
<div class="col-sm-12 hospTable overflow-auto">
    <table class="table table-striped col-md-8">
      <thead class="tableHead thStyle">
        <tr>
          <th scope="col">Application Id</th>
          <th scope="col">Borrower Name & Number</th>
          <th scope="col">Hospital Name & Number</th>
          <th scope="col">Sanctioned Amount</th>
          <th scope="col">Advance EMI</th>
          <th scope="col">Transfered Amount</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applicationResponseList" class="trStyle">
          <td>{{application.application_id}}</td>
          <td>{{application.customer.identity.name}}  {{application.customer.mobile}}</td>
          <td>{{application.hospital.name}} {{application.hospital.mobile}}</td>
          <td>{{application.offer.sanction_amount}}</td>
          <td>{{getAdvanceEMI(application.offer.advance_emi,application.offer.emi)}}</td>
          <td>{{application.loan.transfer_amount}}</td>
        </tr>
      </tbody>
    </table>
  </div>