<div class="container">
    <div class="row">
        <mat-toolbar color="primary">
          <span>Branding Images</span>
          <span class="example-spacer"></span>
          <span mat-dialog-close>
            <mat-icon>close</mat-icon>
          </span>  
        </mat-toolbar>
    </div>
    <div class="row">
        <div class="col-sm-12 imageView">
            <div id="carouselExampleControls" class="carousel carousel-dark slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item"
                        *ngFor="
                            let bImage of hospBrandImages; index as i;" [ngClass]="i == 0 ? 'active': ''">
                    <img src={{bImage.link}} class="d-block slider-image" />
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>

  